.projects-container {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  z-index: 2; /* Ensure projects are above the background */
}

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px;
  max-width: 1200px;
  margin: 100px auto;
  text-align: center;
  z-index: 10;
  border-radius: 20px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.5s ease, opacity 0.5s ease;
  background-color: rgb(28, 36, 58);
}

.projects-title {
  font-size: 2em;
  padding-bottom: 20px;
  color: rgb(200, 220, 255);
}

.project-list {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  gap: 50px;
}

.project-card {
  background-color: rgb(41, 71, 135);
  border: 1px solid rgb(112, 164, 228);
  border-radius: 15px;
  padding: 30px;
  width: 300px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center;
  z-index: 10; /* Ensure visibility */
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-display {
  width: 100%;
  border-radius: 10px;
}

.project-details h3 {
  margin: 0;
  font-size: 1.5em;
  color: rgb(112, 164, 228);
}

.project-description {
  margin-top: 10px;
  font-size: 1em;
  color: rgb(175, 200, 225);
}
@media (max-width: 768px) {
  .projects {
    padding: 20px;
  }

  .project-list {
    flex-direction: column;
    gap: 20px;
  }

  .project-card {
    width: 100%; /* Full width for smaller screens */
    padding: 20px;
  }
}
